@import url("../../../base.css");

.tier-container {
  display: flex;
  gap: 1em;
  justify-content: center;
  height: 280px;
  width: 80%;
  max-width: 912px;
}

.tier {
  height: auto;
  padding: 1em;
  width: 200px;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: var(--tier-font-color);
  background: var(--tier-bg-color);
  box-shadow: 2px 2px 3px 3px #0000003d;
}

.tier * button {
  width: 80%;
  border: none;
  padding: 1em;
  color: white;
  cursor: pointer;
  border-radius: 2em;
  background: #0061ff;
  opacity: 0.6;
  transition: opacity 0.4s;
}

.tier * button:hover {
  opacity: 1;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgb(0 0 0 / 23%),
    rgba(0, 0, 0, 0)
  );
}
